<phpunit bootstrap="lib/autoload.php">
  <testsuites>
    <testsuite name="html">
      <file>tests/page_test.php</file>
      <file>tests/html_container_test.php</file>
      <file>tests/html_object_test.php</file>
      <file>tests/div_test.php</file>
      <file>tests/p_test.php</file>
      <file>tests/form_test.php</file>
      <file>tests/form_input_test.php</file>
      <file>tests/table_layout_test.php</file>
    </testsuite>
  </testsuites>
</phpunit>
